<h1>Warehouses</h1>
<% @warehouses.each do |warehouse| %>
  <p><%= warehouse.name %></p>
  <li>Location: <%= warehouse.location %></li>
  
  <%= form_with url: "/warehouses/#{warehouse.id}", method: :patch, local: true do |f| %>
  <p><%= f.label :add_item %></p>
  <ul><%= f.collection_check_boxes :items, Item.order(:name), :id, :name %></ul>
  <%= f.submit "Add Item" %>

  <p>Items: </p>
    <% warehouse.items.each do |item| %>
    <%= item.name %>,
    <% end %>
  <% end %>
<% end %>

<%= button_to "Create Warehouse", new_warehouse_path, method: :get %>
